NEXT_PUBLIC_SUPABASE_URL=http://47.102.28.236:80
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJvbGUiOiJhbm9uIiwiaWF0IjoxNzc0ODQ3NzkyLCJleHAiOjEzMjg1NDg3NzkyfQ.PaNFRUpnVhuIMIqkWtRr8ESJ8pgg_l-M8d7jEzA0kiA
